version: "3.9"

services:
  client:
    build: ./client
    ports:
      - "3000:3000"
    depends_on:
      - server
     
  server:
    build: ./server
    ports:
      - "1337:1337"
    environment:
      DATABASE_CLIENT: sqlite
      DATABASE_FILENAME: /data.db
     